// font //
$ff-main: 'Raleway', sans-serif;
$ff-sub: 'Open Sans', sans-serif;

// font size//
$fs-accent: 7.6rem;
$fs-main: 2rem;
$fs-sub: 1.8rem;
// $fs-200: 2.1rem;
// $fs-100: 1.1rem;


// font weight//
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// color //
$color-accent: hsl(298, 79%, 19%);
$color-main: hsl(0, 0%, 3%);
$color-text: hsl(0, 0%, 18%);
$color-sub: hsl(0, 0%, 97%);
$color-bg: hsl(0, 0%, 98%);


// padding //
$con-padding: 4rem 14rem;






















