@use '../abstracts/variables' as a;

.footer {
  display: grid;
  // padding: a.$con-padding;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 10rem;
  font-size: a.$fs-main;
  &> * {
    font-style: normal;
    font-weight: a.$fw-200;
  }
}

.contact {
  
  &>* {
    display: block;
    color: a.$color-main;
  }
}
.address {
  &>* {
    display: block;
    text-align: center;
  }
  &__location {

  }
}