@use '../abstracts/variables' as a;

.footer {
  border-top: .2rem solid a.$color-accent;
  padding: a.$con-padding;
  text-align: center;
  align-items: center;
  height: 5rem;
  font-size: a.$fs-sub;
  

  &__text {
    color: a.$color-text;
  }


}

