@use '../abstracts/variables' as a;

.main__color {
  color: a.$color-accent;
}
.sub__color {
  color: a.$color-sub;
}

.s__mt {
  translate: 0 -5rem;
}  
.s__mb {
  translate: 0 5rem;
} 

@media only screen and (max-width: 900px) {
  .s__mt {
    translate: 0;
  }  
  .s__mb {
    translate: 0;
  }
}
  

