@use '../abstracts/variables' as a;
@use '../abstracts/mixins' as m;

.header {
  height: 110vh;
  padding: 0 20rem;
  background: url(../images/pattern.png) no-repeat center top;
  background-size: cover;
  clip-path: polygon( 0 100%, 100% 85%, 100% 0, 0 0);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  color: a.$color-sub;
  font-size: a.$fs-main;
  padding: 0 4rem;
  &__main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: start;
  }
}

.website {
  padding: 4rem 8rem;
  &__des {
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

  }
  &__des1 {
    background: #c1c1c1b5;
    border-radius: 4rem;
    height: 20rem;
  }
}