@use '../abstracts/variables' as a;
@use '../abstracts/mixins' as m;

.header {
  height: 110vh;
  padding: 0 8rem;
  background: url(../images/pattern.png) no-repeat center top;
  background-size: cover;
  clip-path: polygon( 0 100%, 100% 88%, 100% 0, 0 0);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10rem;
  color: a.$color-sub;
  font-size: a.$fs-main;
  padding: 0 6rem;
  &__main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: start;
    justify-content: center;
  }
}

.about {
  padding: a.$con-padding;
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 1fr;
  // &__main {

  // }
  &__sub {
    margin: auto;
  }
  &__text {
    line-height: 1.6;
    letter-spacing: 0.01em;
    margin-top: 2rem;
  }
  
}