@use '../abstracts/variables' as a;
@use '../abstracts/mixins' as m;
.header {
  height: 110vh;
  padding: 0 8rem;
  @include m.bg-img;
  // clip-path: polygon( 0 100%, 100% 92.5%, 100% 0, 0 0);
}
.hero {
  @include m.grid-style;
  color: a.$color-sub;
  font-size: a.$fs-main;
  padding: 0 6rem;
  &__main {
    @include m.flex-column;
  }
}
.about,.service,.contact {
  padding: a.$con-padding;
  @include m.grid-style;
}
.about {
  &__sub {
    margin: auto;
  }
  &__text {
    line-height: 1.6;
    letter-spacing: 0.01em;
    margin-top: a.$header-margin;
  }
}
.service {
  @include m.bg-img;
  @include m.t-center;
  height: 110vh;
  &__box {
    display: grid;
    grid-template-rows: auto auto;
    gap: a.$content-gap;
    margin: auto;
  }
  &__list {
    background: a.$color-bg;
    border-radius: 3rem;
    padding: 2rem;
    transition: all .5s;
    &:hover {
      scale: 1.05;
    }
  }
  &__heading {
    font-family: a.$ff-main;
    font-size: a.$fs-300;
    color: a.$color-accent;
    margin-bottom: 2rem;
  }
}

.contact {
  &__sub {
    margin: auto;
  }
  &__detail {
    @include m.flex-column;
    margin-top: a.$header-margin;
  }
  &__list {
    list-style-type: none;
    display: flex;
    gap: a.$content-gap;
    align-items: center;
  }
}