@use '../abstracts/variables' as a;
@use '../abstracts/mixins' as m;

.header {
  height: 110vh;
  padding: 0 8rem;
  background: url(../images/pattern.png) no-repeat center top;
  background-size: cover;
  clip-path: polygon( 0 100%, 100% 88%, 100% 0, 0 0);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10rem;
  color: a.$color-sub;
  font-size: a.$fs-main;
  padding: 0 6rem;
  &__main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: start;
    justify-content: center;
  }
}

.about {
  padding: a.$con-padding;
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 1fr;
  &__sub {
    margin: auto;
  }
  &__text {
    line-height: 1.6;
    letter-spacing: 0.01em;
    margin-top: 2rem;
  }
}

.service {
  padding: a.$con-padding;
  background: url(../images/pattern.png) no-repeat center top;
  clip-path: polygon( 0 100%, 100% 88%, 100% 0, 0 12%);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 110vh;
  align-items: center;
  gap: 5rem;
  &__box {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
    margin: auto;
    
  }
  &__list {
    background: #e1e1e1;
    border-radius: 3rem;
    padding: 3rem;
    text-align: center;
    box-shadow: .8rem 1.3rem .8rem a.$color-accent;
  }
  &__icon {
    color: a.$color-sub;
    font-size: 5rem;
    background: a.$color-accent;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    border-radius: 50%;
    translate: 0 -7rem;
    margin-bottom: -7rem;
  }
  &__heading {
    font-family: a.$ff-main;
    font-size: 3rem;
    color: a.$color-accent;
    margin-bottom: 2rem;
  }
  &__text {
    color: a.$color-main;
    font-size: 2rem;
  }
}

.contact {
  padding: a.$con-padding;
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 1fr;
  &__sub {
    margin: auto;
  }
  &__box {
    display: grid;
  }
  &__detail {
    display: grid;
    gap: 4rem;
  }
  &__list {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  &__listBox {
  }
  &__icon {
    color: a.$color-sub;
    font-size: 3rem;
    background: a.$color-accent;
    min-width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    text-align: center;
  }
}